=* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background: #fff0f0;
    text-align: center;
    padding: 15px;
    color: #a88282;
    margin-top: 40px;
}